[bumpversion]
current_version = 2.9.6
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:android/app/build.gradle]
search = versionName "{current_version}"
replace = versionName "{new_version}"
